body {
	font-family: "PT Sans Narrow", "Arial Narrow", sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14pt;
	line-height: 24pt;
	text-align: left;
}

h1 {
	font-size: 30pt;
	line-height: 42pt;
}

h2 {
	font-size: 24pt;
	line-height: 30pt;
}
	